<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consulta - Gerenciamento Usuario</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/default.css">


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="~/assets/js/consulta.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Cadastro")">Cadastro</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Consulta")">Consulta</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="registration-form">
        <form id="formConsulta">
            <div class="form-icon">
                <span><i class="icon icon-magnifier"></i></span>
            </div>

            <div class="form-group">
                <input class="form-control item" id="inptUsuarioCpf" placeholder="CPF" maxlength="11" required>
            </div>

            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-block create-account">Consultar</button>
            </div>

            <div class="form-group">
                <input class="form-control item" id="inptUsuarioNomePesquisa" placeholder="Nome" disabled>
            </div>

            <div class="form-group">
                <input class="form-control item" id="inptUsuarioCpfPesquisa" placeholder="CPF" disabled>
            </div>

            <div class="form-group">
                <input class="form-control item" id="inptUsuarioEmailPesquisa" placeholder="E-mail" disabled>
            </div>

            <div class="error-msg" id="divErroCpf">
                <i class="fa fa-times-circle"></i>
                CPF Inválido
            </div>

            <div class="success-msg" id="divSuccessConsulta">
                <i class="fa fa-check"></i>
                Consulta realizada com êxito!
            </div>

            <div class="error-msg" id="divErroCustomConsulta">
                <i class="fa fa-times-circle"></i>
                <label id="lblErroCustomConsulta"></label>
            </div>
        </form>
    </div>
</body>
</html>
